appnope==1.0.0
asttokens==3.0.2
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.2
comm==0.2.3
contourpy==1.4.0
cycler==0.12.1
debugpy==1.8.22
executing==2.2.1
fastjsonschema==2.22.2
fonttools==4.66.1
idna==3.20
ipykernel==7.4.0
ipython==9.17.1
ipython-pygments-lexers==1.1.1
jedi==0.20.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-client==8.10.0
jupyter-core==5.9.1
kiwisolver==1.5.1
matplotlib==3.11.2
matplotlib-inline==0.2.2
mistune==3.3.4
nbclient==0.11.0
nbformat==5.11.1
nest-asyncio2==1.7.4
networkx==3.7
numpy==2.5.3
packaging==26.3
pandas==3.0.6
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.12.4
prompt-toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.4
py3dmol==2.5.5
pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pyzmq==27.2.0
rdata==1.1.0
referencing==0.37.0
requests==2.34.2
rpds-py==2026.9.1
scipy==1.18.1
six==1.17.0
stack-data==0.6.3
tornado==6.5.10
traitlets==5.16.1
typing-extensions==4.16.0
urllib3==2.8.0
wcwidth==0.9.2
xarray==2026.9.0
